<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Crayons/Black.png</key>
		<dict>
			<key>frame</key>
			<string>{{225, 1}, {26, 166}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 166}}</string>
			<key>sourceSize</key>
			<string>{26, 166}</string>
		</dict>
		<key>Crayons/Blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{29, 1}, {26, 166}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 166}}</string>
			<key>sourceSize</key>
			<string>{26, 166}</string>
		</dict>
		<key>Crayons/Brown.png</key>
		<dict>
			<key>frame</key>
			<string>{{57, 29}, {26, 166}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 166}}</string>
			<key>sourceSize</key>
			<string>{26, 166}</string>
		</dict>
		<key>Crayons/DarkGreen.png</key>
		<dict>
			<key>frame</key>
			<string>{{57, 113}, {26, 166}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 166}}</string>
			<key>sourceSize</key>
			<string>{26, 166}</string>
		</dict>
		<key>Crayons/DarkOrange.png</key>
		<dict>
			<key>frame</key>
			<string>{{57, 1}, {26, 166}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 166}}</string>
			<key>sourceSize</key>
			<string>{26, 166}</string>
		</dict>
		<key>Crayons/Eraser.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 169}, {27, 83}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {27, 83}}</string>
			<key>sourceSize</key>
			<string>{27, 83}</string>
		</dict>
		<key>Crayons/Grey.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {26, 166}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 166}}</string>
			<key>sourceSize</key>
			<string>{26, 166}</string>
		</dict>
		<key>Crayons/LightBlue.png</key>
		<dict>
			<key>frame</key>
			<string>{{57, 57}, {26, 166}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 166}}</string>
			<key>sourceSize</key>
			<string>{26, 166}</string>
		</dict>
		<key>Crayons/LightGreen.png</key>
		<dict>
			<key>frame</key>
			<string>{{57, 85}, {26, 166}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 166}}</string>
			<key>sourceSize</key>
			<string>{26, 166}</string>
		</dict>
		<key>Crayons/Red.png</key>
		<dict>
			<key>frame</key>
			<string>{{57, 141}, {26, 166}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 166}}</string>
			<key>sourceSize</key>
			<string>{26, 166}</string>
		</dict>
		<key>Crayons/Yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{30, 169}, {26, 166}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 166}}</string>
			<key>sourceSize</key>
			<string>{26, 166}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>textureFileName</key>
		<string>Crayons.pvr.ccz</string>
	</dict>
</dict>
</plist>
