<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>UI/delete.png</key>
		<dict>
			<key>frame</key>
			<string>{{35, 35}, {24, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 5}, {24, 22}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>UI/save.png</key>
		<dict>
			<key>frame</key>
			<string>{{35, 1}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>UI/settings.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>UI/trash.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 35}, {28, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{128, 64}</string>
		<key>textureFileName</key>
		<string>UI.pvr.ccz</string>
	</dict>
</dict>
</plist>
