<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>UI/delete.png</key>
		<dict>
			<key>frame</key>
			<string>{{163, 1}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>UI/save.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 163}, {160, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {160, 160}}</string>
			<key>sourceSize</key>
			<string>{160, 160}</string>
		</dict>
		<key>UI/settings.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {160, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {160, 160}}</string>
			<key>sourceSize</key>
			<string>{160, 160}</string>
		</dict>
		<key>UI/trash.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 325}, {160, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {160, 160}}</string>
			<key>sourceSize</key>
			<string>{160, 160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>UI.png</string>
	</dict>
</dict>
</plist>
